body {
  margin: 0;
  font-family: "Courier New";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    color: #FFDFDF ;
    background-color: #777777;
  }

button { cursor : pointer}

p { color: #FFDFDF }

.bg-gray { background-color: #777777 }

.conic-gradient {
  background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
